<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Banco Pichincha</title>
  <style>
    /* Estilos CSS para el menú de navegación */
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #fffc52;
      text-align: center;
    }

    li {
      display: inline-block;
    }

    li a {
      display: block;
      color: #333;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    li a:hover {
      background-color: #dbdf1f;
    }

    h1 {
      text-align: center;
      color: #333;
      font-family: Arial, sans-serif;
    }

    p {
      text-align: center;
      color: #666;
      font-family: Arial, sans-serif;
    }
  </style>
</head>
<body>
  <!-- Menú de navegación -->
  <ul>
    <li><a href="#">Inicio</a></li>
    <li><a href="#">Cuentas</a></li>
    <li><a href="#">Préstamos</a></li>
    <li><a href="#">Tarjetas de crédito</a></li>
    <li><a href="#">Sucursales</a></li>
    <li><a href="#">Contacto</a></li>
  </ul>

  <h1>Banco Pichincha</h1>
  <p>El Banco Pichincha es una entidad financiera líder en el sector bancario. Ofrecemos una amplia gama de productos y servicios, incluyendo cuentas de ahorro, préstamos, tarjetas de crédito y mucho más. Nuestro objetivo es brindar soluciones financieras seguras y convenientes para nuestros clientes.</p>
</body>
</html>

